<h1 class="color">What can I math for you human??, <%=f_name%>
<%=msg%>
</h1>
<form method="post" action="thework">



<input type="number" name="n1"><br>

	<input type="radio" name="func" value="add" checked>+<br>
	<input type="radio" name="func" value="sub">-<br>
	<input type="radio" name="func" value="mult">*<br>
	<input type="radio" name="func" value="div">/<br>
	
	<input type="number" name="n2"><br>

	Submit?
	<input type="submit" value="READY??">
	
	<input type="hidden" name="f_name" value="<%=f_name%>">
	<input type="hidden" name="l_name" value="<%=l_name%>">