<!-- <!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

</body>
</html>
 -->
<html>
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="css/style.css">
	<h1>VVelcome to Calculon</h1>
</head>
</center>

<body>
<div class="dropdown">	
  	<button>Site Map</button>
 	<div class="dropdown-content">
   	<p><a href="/">Login Page</a></p>
   	<p><a href="/thework">Just Math Please</a></p>
		<p><a href="/name">New Acct.</a></p>  
  	<p><a href="/newroute">Do Not Click</a></p>
  </div>	
</div>
</body>
</html>


<body>
	<%=yield%>
</body>

 



<Footer> 
<a href="http://www.minedminds.org">
Mined Minds on the Interwebs</a>
</Footer>

<footer>
<a href="http://www.google.com">
Need Answers???</a>
</footer>



