<head>
<link rel="stylesheet" href="css/style.css">
<h1 class="color">
	VVELCOME!!...</h1>
</head>


<body>

<h2>Navigation</h2>
<p>Mouse-over for menu</p>

<div class="dropdown">
  <span>""MENU""</span>
  <div class="dropdown-content">
    <p><a href="/"> Login Page</a></p>
    <p>Somewhere else</p>
	<p>maybe someTHING</p>  
  	<p> one more</p>
  </div>
</div>

</body>
</html>

 
 	<!-- <a href="/"> Login Page </a>
    <a href="/thework"> Just math please</a>
    <a href="/name"> New Acct. </a>
    <a href="/newroute"> Not this one</a>
    <a href="http://www.minedminds.org"> Go check these guys out!!</a> -->






<body>
	<%=yield%>
</body> 





<Footer> 
<a href="http://www.minedminds.org">
Mined Minds on the Interwebs</a>
</Footer>

<footer>
<a href="http://www.google.com">
Need Answers???</a>
</footer>



