<head>
<link rel="stylesheet" href="css/style.css">
<h1 class="color">
	VVELCOME!!...</h1>






 <ul div class="dropdown-content">
 <span>	
 	<a href="/"> Login Page </a>
    <a href="/thework"> Just math please</a>
    <a href="/name"> New Acct. </a>
    <a href="/newroute"> Not this one</a>
    <a href="http://www.minedminds.org"> Go check these guys out!!</a>
  </div>
</div>
</span>

</ul>


</head>


<body>
	<%=yield%>
</body> 





<Footer> 
<a href="http://www.minedminds.org">
Mined Minds on the Interwebs</a>
</Footer>

<footer><a href="http://www.google.com">
Need Answers??
</a>
</footer>



