<%=msg%>

<h1>User Logon</h1>




<form method="post" action="logon">
		<h4>Username</h4><br>
	<input type="text" name="usrname"><br>
		<h4>Password</h4><br>
	<input type="Password" name="p_word"><br>
			Logon?<br>

	<input type="submit" value="Continue?"><br>
</form>
