<h3>  Enter your First and Last Name </h3>

<form method="post" action="name">
 		<h5> First Name</h5><br>
 	<input type="text" name="f_name"><br>
 		<h5>Last Name</h5><br>
 	<input type="text" name="l_name"> <br>
 		Submit?<br>
 	<input type="submit" value="Continue?">
 </form>
