.color{
  color: khaki; 
  font-size: large;
}
.size{
  font-size: 250%;
}
.size1{
  font-size: 300%;
}
.size2{
  font-size: 205%;
}
.center{
  align-self: center;
  text-align: center;
  align-content: center;
}
.dropdown{
  margin-right: 75rem;
  position: relative;
  display: inline-block;
  max-width: 350px;
}
.dropdown-content{
  display: none; 
  position: fixed;
  margin-top: -3;
  background-color: gray;
  min-width: 180px;
  box-shadow: 0px 10px 18px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown:hover .dropdown-content{
  display: block;
  text-decoration-color: firebrick;
}
form input{
  text-align: left; 
  border:10px rgb(152,152,152);
  border-style: ridge;  

}
p{
  text-align: left;
  color: red;
}
ul{
  text-align: center; 
  display: inline;
  padding: right: 6rem; 
}
button{
  color: white;
  border:7px rgb(152,152,152);
  border-style: ridge;
  text-align: center;
  width: 350px;
  height: 80px;
  padding: 15px;
  background-image: url(/photos/board.jpg);  
  background-repeat: no-repeat;
  background-size: cover;
}
h1{  
  margin-left: 25rem;
  text-align: center; 
  color:  white; 
  width: 550px;
  height: 80px;
  padding: 5px;
  border:17px rgb(152,152,152);
  border-style: ridge;	
  background-image: url(/photos/brdtrace.jpg);	
  background-repeat: no-repeat;
  background-size: cover;
}
h2{   
  text-align: center;
  width: 200px;
  height: 30px; 
  background-color: #DEB887;
}
h3{
  text-align: center;
  color: darkred;
  text-align: center;    
}
h4{
  color: #DC143C; 
}
h5{
  color: silver;
}
body{
  text-align: center;  
  align-content: center;
  background-image: url(/photos/sunset0.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
footer{
  margin-left: 1000px;
  text-align: center;
  width: 250px;   
  border:7px rgb(152,152,152);
  border-width: medium;
  border-style: ridge;
}

