.color {
color: khaki; 
 	
font-size: x-large;
}
.size{
font-size: 300%
}
.center{
text-align: center;	
}
p{
color: firebrick 
}
ul{
text-align: center; 
display: inline;
padding: right: 6rem; 
}
h1{  
text-align: center;   
text-decoration-color: firebrick;
width: 250px;
height: 80px;
border: 7px rgb(152,152,152);
border-width: large;
border-style: ridge;	
background-image: url(/photos/dunezona.jpg);	
}
h2{
text-align: center;   
width: 200px;
height: 30px; 
background-color: #DEB887;
}
footer{
text-align: right;   
}
body{

background-image: url(/photos/sunset0.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

<html>
<head>
<style>
.dropdown {
 	position: relative;
 	display: inline-block;
}

.dropdown-content {
    display: none; 
    position: absolute;
    background-color: #FAEBD7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
</style>
</head>